/*body {
  color: #333;
  font-family: Helvetica, Arial, sans-serif;
 	background-image: url("IMG_0925.JPG");
 	background-size: cover;
 	background-color: 

  /* Sanity Check! */
/*}

h1 {
  margin-top: 100px;
  text-align: center;
  color: white;
}

.jumbotron {
	 opacity: 0.55;
	 
	
}


li {
	color: black;
}

input {
	background-color: white;
}*/